/* variables  */
:root{
    --background-color : #000;
    --main-color : #1cb752;
    transition: 0.5s ease;
}
body.active {
    --background-color : #343F4F;
    --main-color : #FC6D60;
    transition: 0.5s ease;
}
* {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    box-sizing: border-box;
}
body {
    background-color: var(--background-color);
    color: white;
}
.hero {
    min-height: 100vh;
    width: 100%;
    padding-left: 8%;
    padding-right: 8%;
    overflow: hidden;
}
.header{
    width: 100%;
    display: flex;
    align-items: center;
}
.logo {
    width: 40px;
    cursor: pointer;
    margin: 30px 0;
}
.menu-btn {
    width: 25px;
    cursor: pointer;
}
.links {
    flex: 1;
    text-align: right;
}
.links ul li {
    list-style: none;
    display: inline-block;
    margin: 30px;
}
.links ul li a{
    color: #fff;
    text-decoration: none;
    font-size: 20px;
    transition: 0.5s ease;
    text-transform: uppercase;
}
.links ul li a:hover{
    color: var(--main-color);
}
.row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 100px 0;
}
.col-1{
    flex-basis: 40%;
    position: relative;
    margin-left: 50px;
}
.col-1 h2 {
    font-weight: 100;
    font-size: 60px;
    
}
.col-1 h2 nav {
    background-color: var(--background-color);
    height: 90px;
    line-height: 90px;
    margin-left: 12px;
    
    overflow: hidden;
}
.col-1 h2 nav li{
    animation: slide 6s steps(3) infinite;
    position: relative;
    top: 0;
}
@keyframes slide {
    100%{
        top: -260px;
        
    }
}

.col-1 h3 {
    font-size: 30px;
    color: #707070;
    font-weight: 100;
}
.col-1 p {
    font-size: 34px;
    color: #b7b7b7;
    font-weight: 100;
    margin: 13px 0;
    font-size: 20px;

}

span {
    color: var(--main-color);
}
button {
    border: none;
    display: inline-block;
    border-radius: 99px;
    color: white;
    position: relative;
    z-index: 1;
    margin-top: 10px;
    font-size: 14px;
    padding: 17px 35px;
    font-weight: 100;
    text-transform: uppercase;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    letter-spacing: 2px;
    cursor: pointer;
  }
  
  button:before, 
  button:after {
    content: ' ';
    position: absolute;
    border-radius: 99px;
  }
  
  button:before {
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: -2;
    background: #503b9a;
    background-color: var(--main-color);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#503b9a', endColorstr='#269cc1',GradientType=1 );
  }
  
  button:after {
    top: 2px; 
    bottom: 2px;
    left: 2px;
    right: 2px;
    background-color: var(--background-color);
    z-index: -1;
    opacity: 1;
    transition: all 0.6s ease-in-out;
  }
  
  button:hover:after {
    opacity: 0;
  }
.col-1 h2 li {
    list-style: none;
}
.col-1 h2 li span{
    position: relative;
}
.col-1 h2 li span::after{
    content: '';
    position: absolute;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: var(--background-color);
    border-left: solid 13px var(--main-color);
    animation: typing 2s steps(120) infinite;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 -35px;
    }
}
.fa-volume-off,
.fa-volume-up {
    background-color: var(--background-color);
    font-size: 30px;
    background-size: 50px;
    color: var(--main-color);
    cursor: pointer;
    text-align: center;
    position: relative;
    bottom: -3px;
}
.social-liks {
    height: 23px;
    margin: 18px;
    cursor: pointer;
}
.col-2{
    position: relative;
    flex-basis: 60%;
    display: flex;
    align-items: center;
}
.col-2 img{
    width: 40%;
    margin-left: 128px;
}
.logo {
    color: var(--main-color);
    text-transform: uppercase;
    cursor: pointer;
    font-size: 27px;
    font-weight: 900;
    font-family: 'Lobster', cursive;
    cursor: pointer;
}
.fa-sun,
.fa-moon{
    background-color: var(--background-color);
    font-size: 30px;
    background-size: 50px;
    color: var(--main-color);
    cursor: pointer;
    text-align: center;
    position: relative;
    margin-left: 15px;
}